{% extends "base.html" %}

           
{% block title %}
  
  Signup
    
{% endblock title %}
    
    
{% block content %}

    <div class="container login-container">
      <div class="row"> 
        <div class="col-md-6 login-form-1">
          <h3> Σελίδα Εγγραφής </h3> 
        
          <form action="#">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="username" name="username" aria-label="username" aria-describedby="basic-addon1"> 
              <div id="usernameHelp" class="form-text"> Παρακαλώ δώστε username </div>
            
            
            </div>




        </form>
        



        </div>
      </div>
    </div>

{% endblock content %}
